<div class="container">
    <div id="one">
        <h1 class="employee_api">Employee API</h1>
    </div>
    
    <div id="two">
        <div id="box1">List Employees</div>
        <button id="button1"(click)="GET()">Fetch Employee</button>

    </div>

    <div id="three">
        <div id="box2">Create Employee</div>
        <button id="button2"(click)="POST()">Add Employee</button>
    </div>

    <div id="four">
        <div id="box3">Update Employee</div>
        <button id="button3"(click)="PUT()">Update Info</button>
    </div>

    <div id="five">
        <div id="box4">Delete Employee</div>
        <button id="button4"(click)="DELETE()">Remove Employee</button>
    </div>
</div>