<div class="container">
    <div id="main">
        <h1 class="employee_api">Employee API</h1>
    </div>
    
    <div id="get">
        <div id="box1">List Employees</div>
        <a routerLink="/list-employee" class="btn">GET</a>
    </div>

    <div id="post">
        <div id="box2">Create Employee</div>
        <a routerLink="/create-employee" class="btn">POST</a>
    </div>

    <div id="update">
        <div id="box3">Update Employee</div>
        <a routerLink="/update-employee" class="btn">UPDATE</a>
    </div>

    <div id="remove">
        <div id="box4">Delete Employee</div>
        <a routerLink="/delete-employee" class="btn">DELETE</a>
    </div>
</div>
